@import "vars";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px 35px 20px 15px;

  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 30px;
      a {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $white;
        transition: all 0.4s;
        letter-spacing: 0.1em;
        &.active,
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

nav {
  padding-left: 130px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.info-tegs {
  display: flex;
  align-items: center;
  .number {
    color: $white;
    white-space: nowrap;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    transition: color 0.4s;
    &:hover {
      color: $orange;
    }
  }
  .btn {
    margin-left: 40px;
  }
}

.social {
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  transform: rotate(-90deg);
  left: -122px;
  bottom: 190px;
  padding-left: 100px;
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    background: $black;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  li {
    margin-right: 40px;
    a {
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.2em;
      color: $black;
      transition: color 0.4s;
      &.active {
        color: $orange;
      }
      &:hover {
        color: $orange;
      }
    }
  }
}
