@import "vars";

.holder-banner {
  //   background: rgba(25, 28, 38, 0.2);
  // transform: matrix(-1, 0, 0, 1, 0, 0);

  .slick-slide {
    img {
      margin-left: auto;
    }
  }
  .slide-item {
    img {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

.carousel {
  //   z-index: -1;
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
}

.slick-dots {
  position: absolute;
  top: 47%;
  right: 18px;
  display: block;
  width: 28px;
  padding: 0;
  z-index: 9999;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  .slick-active {
    button {
      &::before {
        width: 18px;
        opacity: 0.75;
        background: $white;
        transform: translateX(-50%);
      }
    }
  }
  li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        content: "•";
        position: absolute;
        width: 8px;
        height: 2px;
        background: $light-blue;
        left: 50%;
        transform: translateX(0);
      }
    }
  }
}
